<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="{{ url_for('static', filename='img/icons/saraswathi+matha.png') }}" crossorigin="anonymous">
  <title>{% block title %}Add Instructor{% endblock %}</title>
  
  <meta name="title" content="Samskrithi School Management System">
  <meta name="description" content="Access your student profile Management System using this link, contact with Administrators of School.">
  <meta name="author" content="Sri Vidhyanikethan">
 

  
  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" crossorigin="anonymous">

  <!-- Custom styles for this template-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
  
  <!-- Custom styles for this page -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/datatables/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/added.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
</head>
<body id="page-top" style="padding-right:0px;">
  <div class="Top_Schl_Name">
	Samskrithi School
  </div>
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas"><img src="{{ url_for('static', filename='img/icons/saraswathi+matha.png') }}" class="school_logo"/></i>
            <!-- <i class="fas fa-laugh-wink"></i> -->
          </div>
          <div class="sidebar-brand-text mx-3">Menu</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link collapsed" id="home" href="/home" aria-expanded="true" aria-controls="Main_Home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span>
          </a>
        </li>
        
        <hr class="sidebar-divider my-0">
        
        
        <!--Students Menu-->
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#studentstab" aria-expanded="true" aria-controls="studentstab">
            <i class="fab fa-app-store-ios"></i>
            <span>Students Information</span>
          </a>
          <div id="studentstab" class="collapse" aria-labelledby="studentstab" data-parent="#accordionSidebar">
            <div class="bg-blue py-2 collapse-inner rounded">            
              <a class="collapse-item collapsed" id="AddStudent" href="/AddStudent" aria-expanded="true" aria-controls="studeta">
                  <i class="fab fa-app-store-ios"></i>
                  Add Student
              </a>
              <a class="collapse-item collapsed" id="Student" href="/Student" aria-expanded="true" aria-controls="studeta">
                  <i class="fab fa-app-store-ios"></i>
                  View Students Details
              </a><a class="collapse-item collapsed" id="Score" href="/Score" aria-expanded="true" aria-controls="studperf">
                  <i class="fab fa-app-store-ios"></i>
                  Students Scores
              </a>    
			    
              <a class="collapse-item collapsed" id="Score" href="/ViewScore" aria-expanded="true" aria-controls="studperf">
                <i class="fab fa-app-store-ios"></i>
                View Students Scores
            </a>             
            </div>
          </div>
        </li>
        <!--//Students Menu-->
        <hr class="sidebar-divider my-0">
       
        
        <!--Teachers Menu-->
        <li class="nav-item active">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#teacherstab" aria-expanded="true" aria-controls="teacherstab">
            <i class="fas fa-chalkboard-teacher"></i>
            <span>Teachers</span>
          </a>
   
           <div id="teacherstab" class="collapse" aria-labelledby="teacherstab" data-parent="#accordionSidebar">
                    <div class="bg-blue py-2 collapse-inner rounded">            
                      <a class="collapse-item collapsed" id="Instructor" href="/Instructor" aria-expanded="true" aria-controls="newteach">
                          <i class="fas fa-chalkboard-teacher"></i>
                          Add Instructor
                      </a>
                      <a class="collapse-item collapsed" id="ShowInstructor" href="/ShowInstructor" aria-expanded="true" aria-controls="seealltea">
                          <i class="fas fa-chalkboard-teacher"></i>
                          See All Instructors
                      </a>
                    </div>
                  </div>
                </li>
        <!--//Teachers Menu-->
        
        <hr class="sidebar-divider my-0">
        
        <!--Classes Menu-->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#classestab" aria-expanded="true" aria-controls="teacherstab">
            <i class="fas fa-chalkboard-teacher"></i>
            <span>Classes</span>
          </a>
   
           <div id="classestab" class="collapse" aria-labelledby="classestab" data-parent="#accordionSidebar">
                    <div class="bg-blue py-2 collapse-inner rounded">            
                      <a class="collapse-item collapsed" id="CreateClass" id="CreateClass" href="/CreateClass" aria-expanded="true" aria-controls="newteach">
                          <i class="fas fa-chalkboard-teacher"></i>
                          Add Class
                      </a>
                      <a class="collapse-item collapsed" id="ShowClass" id="ShowClass" href="/ShowClass" aria-expanded="true" aria-controls="seealltea">
                          <i class="fas fa-chalkboard-teacher"></i>
                          See Class Schedules
                      </a>
                      <a class="collapse-item collapsed" id="StudentToClass" href="/StudentToClass" aria-expanded="true" aria-controls="seealltea">
                        <i class="fas fa-chalkboard-teacher"></i>
                        Enroll Students
                      </a>
                    </div>
                  </div>
                </li>
        <!--//Classes Menu-->
        
	  <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
	  <!-- Main Content -->
	  <div id="content">
		<!-- Topbar Showing Name , Search , Login Icon. -->
		<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		  <!-- Sidebar Toggle (Topbar) -->
		  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
			<i class="fa fa-bars"></i>
		  </button>
		  <div class="School_Name">Samskrithi School</div>
		  <!-- Topbar Search -->
		  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST" action='/SearchAll'>
			<div class="input-group">
			  <input type="text" class="form-control bg-light border-0 small" name="query_id" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
			  <div class="input-group-append">
				<button class="btn btn-primary" type="button">
				  <i class="fas fa-search fa-sm"></i>
				</button>
			  </div>
			</div>
		  </form>

		  <!-- Topbar Navbar -->
		  <ul class="navbar-nav ml-auto">

			<!-- Nav Item - Search Dropdown (Visible Only XS) -->
			<li class="nav-item dropdown no-arrow d-sm-none">
			  <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-search fa-fw"></i>
			  </a>
			  <!-- Dropdown - Messages -->
			  <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
				<form class="form-inline mr-auto w-100 navbar-search" method="POST" action='/SearchAll'>
				  <div class="input-group">
					<input type="text" class="form-control bg-light border-0 small" name="query_id" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
					<div class="input-group-append">
					  <button class="btn btn-primary" type="button">
						<i class="fas fa-search fa-sm"></i>
					  </button>
					</div>
				  </div>
				</form>
			  </div>			  
			</li>

			<!-- Nav Item - Alerts -- >
			<li class="nav-item dropdown no-arrow mx-1">
			  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-bell fa-fw"></i>
				<!-- Counter - Alerts -- >
				<span class="badge badge-danger badge-counter">2+</span>
			  </a>
			  <!-- Dropdown - Alerts -- >
			  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
				<h6 class="dropdown-header">
				  Alerts Center
				</h6>
				<a class="dropdown-item d-flex align-items-center" href="#">
				  <div class="mr-3">
					<div class="icon-circle bg-primary">
					  <i class="fas fa-file-alt text-white"></i>
					</div>
				  </div>
				  <div>
					<div class="small text-gray-500">April 22, 2020</div>
					<span class="font-weight-bold">A new monthly expenses report is ready to download!</span>
				  </div>
				</a>
				<a class="dropdown-item d-flex align-items-center" href="#">
				  <div class="mr-3">
					<div class="icon-circle bg-warning">
					  <i class="fas fa-exclamation-triangle text-white"></i>
					</div>
				  </div>
				  <div>
					<div class="small text-gray-500">April 21, 2020</div>
					Spending Alert: We've noticed unusually high spending for your account.
				  </div>
				</a>
				<a class="dropdown-item text-center small text-gray-500" href="adminalerts.html">Show All Alerts</a>
			  </div>
			</li>

			<div class="topbar-divider d-none d-sm-block"></div>

			<!-- Nav Item - User Information -->
			<li class="nav-item dropdown no-arrow">
			  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome</span>
				<img class="img-profile rounded-circle" src="{{ url_for('static', filename='img/icons/saraswathi+matha.png') }}">
			  </a>
			  <!-- Dropdown - User Information -->
			  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
				<!-- <a class="dropdown-item" href="#">
				  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
				  Profile
				</a> -->
				<!-- <a class="dropdown-item" href="#">
				  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
				  Settings
				</a> -->
				<!-- <a class="dropdown-item" href="#">
				  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
				  Login Activity
				</a> -->
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
				  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
				  Logout
				</a>
			  </div>
			</li>
		  </ul>
		</nav>
		<!-- //Topbar Showing Name , Search , Login Icon. -->
	
	<div class="container">
		<!-- Top Quick Overview -->
		<div class="container-fluid">
			
		<!--Student Details-->
		<div class="nav-item">
			<div id="studeta" class="container-fluid studeta">
				<div class="row">
					<div class="col-lg-6 col-md-6 d-sm-flex mb-4">
						<h1 class="h3 mb-0 text-blue-800 text-center">Add Instructor</h1>
					</div>
				</div>			
				<div class="row">
					<div class="col-xl-12 col-md-12 mb-4">
						<div class="fbox container">
							<h1 class="Heading pb-4">Enter Instructor Details.</h1>
							<hr>
							{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								{% for category, message in messages %}
								{% if category == 'error' %}
									<div class="alert alert-danger alert-dismissable fade show" role="alert">
										{{ message }}
										<button type="button" class="close" data-dismiss="alert">
											<span aria-hidden="true">&times;</span>

										</button>
									</div>
								{% else %}
									<div class="alert alert-success alert-dismissable fade show" role="success">
										{{ message }}
										<button type="button" class="close" data-dismiss="alert">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								{% endif %}
								{% endfor %}
							{% endif %}
							{% endwith %}					
							
								<form class="php-email-form" role="form" method="POST" action="/Instructor">
									<div class="row">
										<!--<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label for="uname">Student Roll Number</label>
												<input type="varchar" class="form-control" id="srn" placeholder="Type Student Roll Number" name="srn" data-rule="minlen:4" data-msg="Please Enter Student Roll Number"/>
												<div class="validate"></div>
											</div>
										</div>-->
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<label for="uname">First Name</label>
												<input type="text" class="form-control" id="ifname" placeholder="First Name" name="ifname" data-rule="minlen:4" data-msg="Please Enter First Name"/>
												<div class="validate"></div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="form-group">
												<label for="uname">Last Name</label>
												<input type="text" class="form-control" id="ilname" placeholder="Last Name" name="ilname">
												<div class="validate"></div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="form-group">
												<label for="uname">Email address</label>
												<input type="email" class="form-control" id="iemail" placeholder="Type E-mail address" name="iemail">
												<div class="validate"></div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="form-group">
												<label for="uname">Mobile number</label>
												<input type="tel" class="form-control" id="imobile" placeholder="Type Mobile Number" name="imobile" >
											    <div class="validate"></div>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="form-group">
												<label for="uname">Permanent Address</label>
												<input type="text" class="form-control" id="ipaddress" placeholder="Permanent address" name="ipaddress">
											    <div class="validate"></div> 
											</div>
										</div>
										
										<div class="col-lg-4 col-md-6">
											<div class="form-group">
												<label for="uname">Temporary Address</label>
												<input type="text" class="form-control" id="itaddress" placeholder="Permanent address" name="itaddress">
											    <div class="validate"></div>
											</div>
										</div>
										
										<div class="col-lg-4 col-md-6">
											<div class="form-group">
												<label for="uname">Highest Educational Qualification:</label>
												<input type="text" class="form-control" id="iequalification" placeholder="Type qualification" name="iequalification">
											    <div class="validate"></div>
											</div>
										</div>
										
										
										<div class="col-lg-12 ml-4 col-md-12">
											<div class="form-group">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" name="remember" required> Check All The Details & Confirm Me.
												</label>
											</div>
										</div>
									</div>							
									<div class="text-center">
										<button type="submit" class="btn">Submit</button>
									</div>
							  </form>
							</div>
						</div>            
					</div>
				</div>
			</div>
			<!--//Scholarships-->
	
			</div>
		</div>
	  
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
		</a>
	
	
	  <!-- Logout Model-->
	  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
			  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			  </button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
			<div class="modal-footer">
			  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
			  <a class="btn btn-primary" id="logout" href="/logout">Logout</a>
			</div>
		  </div>
		</div>
	  </div>
	  <!--//Logout Model-->
	
		<!--See Student Details-->
		
		  <!--//See Student Details-->
		
		  <script 
		  text="text/javascript" 
		  src="{{ url_for('static', filename='js/function.js') }}"
		  crossorigin="anonymous"
		></script>
	  <!-- Bootstrap core JavaScript-->
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"
		crossorigin="anonymous"
	  ></script>
		<script 
		text="text/javascript" 
		src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"
		crossorigin="anonymous"
	  ></script>
	
	  <!-- Core plugin JavaScript-->
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"
		crossorigin="anonymous"
	  ></script>
	
	  <!-- Custom scripts for all pages-->
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"
		crossorigin="anonymous"
	  ></script>
	
	  <!-- Page level plugins -->
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"
		crossorigin="anonymous"
	  ></script>
	
		<!-- Page level plugins -->
		<script 
		text="text/javascript" 
		src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"
		crossorigin="anonymous"
	  ></script>
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"
		crossorigin="anonymous"
	  ></script>
	
	  <!-- Page level custom scripts -->
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"
		crossorigin="anonymous"
	  ></script>
		<!-- Page level plugins -->
	
	  <!-- Page level custom scripts -->
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='js/demo/bc-work-performance.js') }}"
		crossorigin="anonymous"
	  ></script>
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js') }}"
		crossorigin="anonymous"
	  ></script>
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"
		crossorigin="anonymous"
	  ></script>
	
	  <!-- Page level plugins -->
		<script 
		text="text/javascript" 
		src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"
		crossorigin="anonymous"
	  ></script>
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"
		crossorigin="anonymous"
	  ></script>
	
	  <!-- Page level custom scripts -->
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"
		crossorigin="anonymous"
	  ></script>
	  <script 
		text="text/javascript" 
		src="{{ url_for('static', filename='js/demo/tc-work-performance.js') }}"
		crossorigin="anonymous"
	  ></script>
	  
	</body>
	</html>